* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/neue-machina-regular.otf);
}

body {
background-color: black;
color: white;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}